@charset "UTF-8";

/* Configurações gerais */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw; /*Larguda da tela*/
    height: 100vh; /*Altura da tela*/
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px red;
    padding: 10px;
}